/* Your Website Styles */
/* CHECK THIS BEFORE TURNING IN! 
body {
	background: url(../img/triangular.png);
}
*/

.logo {
	background: url(../img/logo.png);
	width: 100px;
	height: 100px;
	float: left;

}

.navigation {
	background: cornflowerblue;
	position: fixed;
	float: left;
	height: 100px;
	line-height: 50px;
	text-align: center;
}

.navigation li {
	display: inline;
	margin: 16px 0 38px 0;
	padding: 20px;
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 1.25em;
	line-height: 65px;
}

nav a {
	margin-left: 40px;

}

/* SPRITE NAV IMAGE */
.home {
	background: url(../img/nav_sprite.png) no-repeat left center;
	background-position: 0 10px;
	margin-left: 40px;
}

.resume {
	background: url(../img/nav_sprite.png) no-repeat left center;
	background-position: 0 -102px;

}

.portfolio {
	background: url(../img/nav_sprite.png) no-repeat left center;
	background-position: 0 -228px;
	margin-left: 20px;
}

.home:hover {
	background-position: 0 -49px;
}

.resume:hover {
	background-position: 0 -169px;
}

.portfolio:hover {
	background-position: 0 -280px;
}

.name {
	margin-top: 108px;
	margin-bottom: 10px;
}

.name p {
	text-align: center;
	font-size: 3em;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	margin: 20px 0 20px 0;
}

.name p:hover {
text-shadow: -6px -1px 4px rgba(150, 150, 150, 1);
}

.usmc {
	text-align: center;
	width: 302px;
}
.me {
	width: 212px;
	height: 292px;
	border-radius: 5%;
}

.info,
.objectives {
	text-align: justify;
	font-family: 'Nobile', sans-serif;
	line-height: 25px;
}

.info h3,
.objectives h3 {
	text-decoration: underline;
}

footer p{

	margin: 55px 0 16px 28px;
}




/* Media Queries */

/* Desktop 960px */

@media screen and (max-width: 960px) {
	
	
}


/* Tablet 768px */

@media screen and (max-width: 768px) {
	
	.usmc {
		width: 30%; 
	}

	.info, .objectives {
		font-size: .85em;
	}

}

/* Smartphones 480px */

@media screen and (min-width: 0px) and (max-width: 480px) {
	
	.info, .objectives {
		width: 100%;
		font-size: 100%;
	}

	.navigation {
		text-align: center;
		height: 142px;
	}

	.name {
		margin-top: 118px;
	}
}


/* Other Media */

@media screen and (max-width: 354px) {
	
  .name p {
    margin-top: 72px;
  }

}